# Node modules
node_modules/

# Build output
dist/
*.tsbuildinfo

# Turbo cache
.turbo/

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
turbo.log*

# Environment files
.env
.env.local
.env.*.local

# Editor settings
.vscode/
.idea/

# OS/system files
.DS_Store
Thumbs.db

# .gitignore
.npmrc