registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=${NPM_TOKEN:-local}

@rubixstudios:registry=https://npm.pkg.github.com/rubix-studios-pty-ltd
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN:-local}